<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>IFT215</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ift215.css') }}"/>
</head>
<body>
<h1 style="text-align:center;">Jeu de {{ nom }}</h1>
<div class="mb" style="text-align:center;">
    <a href="http://127.0.0.1:5000/demarrer/">
    <input type="submit" name="Demarrer" value="Démarrer une nouvelle partie">
    </a>
    
</div>
<div class="col-12" style="text-align:center;">
    {% for row in niveau.grille %}
        {% set rowIndex = loop.index0 %} 
        <div>
            {% for col in row %}
                <div class="tuile type{{ col.type }}" data-ligne="{{ rowIndex }}" data-colonne="{{ loop.index0 }}"></div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div class="col-12" style="text-align:center;">
    <form action="http://127.0.0.1:5000/selection/" method="POST">
        <label for="ligne1">ligne 1:</label><br>
        <input type="text" id="ligne1" name="ligne1"><br>
        <label for="colonne1">colonne 1:</label><br>
        <input type="text" id="colonne1" name="colonne1"><br>
        <label for="ligne2">ligne 2:</label><br>
        <input type="text" id="ligne2" name="ligne2"><br>
        <label for="colonne2">colonne 2:</label><br>
        <input type="text" id="colonne2" name="colonne2"><br>
        <input type="submit" name="move" value="Faire le mouvement">
    </form>
</div>
</body>
</html>